body {
    background: grey;
    color: white;
    line-height: 1.45;
    max-width:60%;
    font-size:24;
}
div{
    padding:15px 20px;
}
.main-content {
    width: 1000px;
    margin: 0 auto;
}

.u {
    text-decoration: underline;
}

.mets {
    background: orange;
    color: black;
    padding:0 20 0 20;
}

.dodgers {
    background: blue;
    color: white;
    padding:0 20 0 20;
}

.cubs {
    background: beige;
    color:black;
    padding:0 20 0 20;
}
.pittsburgh {
    background: yellow;
    color:black;
    padding:0 20 0 20;
}

.cardinals {
    background: #fc7979;
    color:black;
}

.table-container {
    background: black;
}
a:visited{
    color:black;
}
a{
    color:black;
}
.dodgers a{
    color:white;
}
