	.container {
		width: 40%;
		margin:0 auto;
		background-color:teal;
		color:white;
		font-family:courier;
			}
	p i:first-child {
    		color: black;
	} 
	.left {
		float:left;
		width:40%;
		clear:both;
			}
	.2nd{
		float:left;
		width:40%;
		clear:both;
	}
	.right {
		float:left;
		width:40%;
		margin-left:10%;
			}
	.table	tr:nth-child(even){
		border:1;
		background: teal;
		color:white;
	}
	li:nth-child(3){
		color:teal;
	}
	img{
		height: auto; 
    		width: auto; 
    		max-width: 600px; 
    		max-height: 600px;
    		clear:both;
	}
	a.link:hover {
    		color: #ff0000;
	} 
	.1{
		text-deocration: line-through;
	}
	.2{
		font-size:34px;
	}
	.3{
		font-style:oblique;
	}
