	.container {
		width: 50%;
		margin:0 auto;
			}
		
	.left {
		float:left;
		width:40%;
		background-color:teal;
		clear:both;
			}
	.right {
		float:left;
		width:40%;
		margin-left:10%;
			}
	.table{
		border:1px black;
	}
	img{
		height: auto; 
    		width: auto; 
    		max-width: 600px; 
    		max-height: 600px;
    		clear:both;
	}
