	.container {
		width: 50%;
		margin:0 auto;
		background-color:teal;
		color:white;
		font-family:courier;
			}
	p i:first-child {
    		color: blue;
	} 
	.left {
		float:left;
		width:40%;
		clear:both;
			}
	.2nd{
		float:left;
		width:40%;
		clear:both;
	}
	.right {
		float:left;
		width:40%;
		margin-left:10%;
			}
	.table	tr:nth-child(even){
		border:1;
		background: teal;
		color:white;
	}
	img{
		height: auto; 
    		width: auto; 
    		max-width: 600px; 
    		max-height: 600px;
    		clear:both;
	}
